swagger: "2.0"
info:
  description: Api Documentation
  version: 1.0.0
  title: Api Documentation
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
host: volkanbasaran.de:5000
basePath: /
tags:
 -
  name: lager-controller
  description: Lager Controller
security:
 -
  default: []
paths:
  /lager/:
    get:
      tags:
       - lager-controller
      summary: hallo
      operationId: halloUsingGET
      produces:
       - application/json
      parameters: []
      responses:
        200:
          description: OK
          schema:
            type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
       -
        default: []
      deprecated: false
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /lager/all:
    get:
      tags:
       - lager-controller
      summary: getAllOrders
      operationId: getAllOrdersUsingGET
      produces:
       - application/json
      parameters: []
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Lager'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
       -
        default: []
      deprecated: false
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /lager/deletebyid/{id}:
    delete:
      tags:
       - lager-controller
      summary: deleteById
      operationId: deleteByIdUsingDELETE
      produces:
       - application/json
      parameters:
       -
        name: id
        in: path
        description: id
        required: true
        type: integer
        format: int32
      responses:
        200:
          description: OK
          schema:
            type: string
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
      security:
       -
        default: []
      deprecated: false
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /lager/findbyid/{id}:
    get:
      tags:
       - lager-controller
      summary: findById
      operationId: findByIdUsingGET
      produces:
       - application/json
      parameters:
       -
        name: artikelname
        in: query
        required: false
        type: string
       -
        name: baujahr
        in: query
        required: false
        type: string
       -
        name: ekpreis
        in: query
        required: false
        type: number
        format: double
       -
        name: hersteller
        in: query
        required: false
        type: string
       -
        name: id
        in: path
        description: id
        required: true
        type: integer
        format: int32
       -
        name: id
        in: query
        required: false
        type: integer
        format: int32
       -
        name: mengeverfuegbar
        in: query
        required: false
        type: integer
        format: int32
       -
        name: modell
        in: query
        required: false
        type: string
       -
        name: verkpreis
        in: query
        required: false
        type: number
        format: double
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OptionalÂ«LagerÂ»'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
       -
        default: []
      deprecated: false
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /lager/post/{hersteller}/{modell}/{baujahr}/{artikelname}/{ekpreis}/{verkpreis}/{mengeverfuegbar}:
    post:
      tags:
       - lager-controller
      summary: load
      operationId: loadUsingPOST
      consumes:
       - application/json
      produces:
       - application/json
      parameters:
       -
        name: artikelname
        in: query
        description: artikelname
        required: false
        type: string
       -
        name: artikelname
        in: query
        required: false
        type: string
       -
        name: baujahr
        in: query
        description: baujahr
        required: false
        type: string
       -
        name: baujahr
        in: query
        required: false
        type: string
       -
        name: ekpreis
        in: query
        description: ekpreis
        required: false
        type: number
        format: double
       -
        name: ekpreis
        in: query
        required: false
        type: number
        format: double
       -
        name: hersteller
        in: path
        description: hersteller
        required: true
        type: string
       -
        name: hersteller
        in: query
        required: false
        type: string
       -
        name: id
        in: query
        required: false
        type: integer
        format: int32
       -
        name: mengeverfuegbar
        in: query
        description: mengeverfuegbar
        required: false
        type: integer
        format: int32
       -
        name: mengeverfuegbar
        in: query
        required: false
        type: integer
        format: int32
       -
        name: modell
        in: query
        description: modell
        required: false
        type: string
       -
        name: modell
        in: query
        required: false
        type: string
       -
        name: verkpreis
        in: query
        description: verkpreis
        required: false
        type: number
        format: double
       -
        name: verkpreis
        in: query
        required: false
        type: number
        format: double
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
       -
        default: []
      deprecated: false
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /lager/searchartikelname:
    get:
      tags:
       - lager-controller
      summary: findByArtikelname
      operationId: findByArtikelnameUsingGET
      produces:
       - application/json
      parameters:
       -
        name: artikelname
        in: query
        description: artikelname
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Lager'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
       -
        default: []
      deprecated: false
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /lager/update:
    put:
      tags:
       - lager-controller
      summary: update
      operationId: updateUsingPUT
      consumes:
       - application/json
      produces:
       - application/json
      parameters:
       -
        in: body
        name: be
        description: be
        required: true
        schema:
          $ref: '#/definitions/Lager'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Lager'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
       -
        default: []
      deprecated: false
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
securityDefinitions:
  default:
    type: oauth2
    authorizationUrl: https://test.com
    flow: implicit
definitions:
  Lager:
    type: object
    properties:
      artikelname:
        type: string
      baujahr:
        type: string
      ekpreis:
        type: number
        format: double
      hersteller:
        type: string
      id:
        type: integer
        format: int32
      mengeverfuegbar:
        type: integer
        format: int32
      modell:
        type: string
      verkpreis:
        type: number
        format: double
    title: Lager
  OptionalÂ«LagerÂ»:
    type: object
    properties:
      present:
        type: boolean
    title: OptionalÂ«LagerÂ»
